.features-conteiner {
  @extend %conteiner;
}
.features {
  padding-top: 94px;
}
.feature-list {
  @extend %list;
  display: flex;
}
.feature-list__card {
  flex-basis: calc((100%-90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.feature-list__pic {
  width: auto;
  height: 120px;
  background-color: $third-bg-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.feature-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
}
.feature-list__description {
  @extend %paragraf;
  line-height: 1.71;
  margin-bottom: 0;
}
