.hero-section {
  background: $secondary-bg-color;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
  }
}
.hero-conteiner {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: $third-text-color;
  font-size: 26px;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    max-width: 616px;
    font-size: 44px;
  }
}
.hero-section__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $third-text-color;
  background-color: $active-text-color;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: $animation-time;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}
