body {
  font-family: "Roboto", sans-serif;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.section {
  @extend %section;
}
.conteiner {
  @extend %conteiner;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  display: inline-block;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
