.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  color: $active-text-color;
  &__end {
    color: $secondary-text-color;
  }
  &__end--white {
    color: $third-text-color;
  }
}
.footer__logo {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
.logo__end--white {
  color: $third-text-color;
}
