.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  display: flex;

  color: $active-text-color;
  &__end {
    color: $secondary-text-color;
  }
  &__end--white {
    color: $third-text-color;
  }

  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer__logo {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
.logo__end--white {
  color: $third-text-color;
}
