$primary-text-color: #757575;
$secondary-text-color: #212121;
$third-text-color: #ffffff;
$trasparent-text-color: rgba(255, 255, 255, 0.6);
$active-text-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$primary-border-color: #eeeeee;
$secondary-border-color: #ececec;
$media-icon-color: #afb1b8;
$button-hover-color: #188ce8;
$transparent-bg-color: rgba(47, 48, 58, 0.8);
$modal-backload-bg: rgba(0, 0, 0, 0.2);
$active-bg-color: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
